form {
    color: #FFF;
    position: relative;
    margin: 0 auto;
    background-color: #0a1f92;
    overflow: hidden;
    width: 90%;
    text-align: center;
    font-size: 22px;
    border-radius: 8px;
    padding: 20px;

}

form input {
    align-items: center;
    padding: 3px;
    margin: 8px 0px;
}

form div input {
    align-items: center;
    padding: 3px;
    margin: 8px 0px;
}