#certificado {
    position: relative;
    width: 1000px;
    height: auto;
    margin: auto;
}

#logo {
    width: 150px;
    height: 150px;
    position: absolute;
    right: 0%;
}

#certificado h2 {
    text-align: center;
}

#titulo {
    height: 2 00px;
}

th {
    background-color: #34495E;
    color: white;
}

#tblfun {
    border: solid 2px blue;
    background-color: white;
    text-align: center;
    margin: auto;
    font-size: 20px;
}