div#Menu {
  position: relative;
  width: 20%;
  margin: auto;
}

#tit {
  margin: 20px;
  color: rebeccapurple;
}

#logonav {
  position: relative;
  width: 70%;
  height: 50%;
  margin-top: 7%;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-items: center;
  align-items: center;
}

#logonav ul {
  display: flex;
  width: 80%;
  

}

#logonav ul li {
  position: relative;
  list-style: none;
  text-align: center;
  
}

#logonav ul li a{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 25px;

}
#logonav ul li a .logito ion-icon{
  font-size: 150px;
  color: black;
}

